<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Заказ № {{ order.id }}</h1>
    <table border="1">
        <tr>
            <td>Имя</td>
            <td>{{ order.name|default_if_none:"-" }}</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>{{ order.mobile|default_if_none:"-" }}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{ order.email|default_if_none:"-" }}</td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td>{{ order.address|default_if_none:"-" }}</td>
        </tr>
        <tr>
            <td>Комментарий</td>
            <td>{{ order.comment|default_if_none:"-" }}</td>
        </tr>
        <tr>
            <td>Всего</td>
            <td>{{ order.total_amount }} BYN</td>
        </tr>
    </table>
    <h2>Детали заказа</h2>
    <table border="1">
        <tr>
            <th>#</th>
            <th>Код продукта</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Актуальная цена</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ item.product.id }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }} BYN</td>
            {% if item.product.actual_price %}
            <td>{{ item.product.actual_price }} BYN</td>
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>