<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}
{% load fullurl %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5ZC66ZXH8D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5ZC66ZXH8D');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/5.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/5.0/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/5.0/css/sidebars.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-playfair-display.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/socials.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="{% block meta_robots %}noindex, nofollow, nosnippet{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    {% block canonical %}{% endblock %}
    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}{% endblock %}" />
    <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
    <meta property="og:url" content="{% block og_url %}{% fullurl 'core:index' %}{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{% fullstatic 'images/cuprumberry.jpeg' %}{% endblock %}" />
</head>
<body>

{% include "normal/layout/header.html" %}

<main class="container">
{% block content %} Content {% endblock %}
</main>

{% include "common/layout/footer.html" %}

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/5.0/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/catalog.js' %}"></script>
</body>
</html>