{% extends "common/template.html" %}
{% load i18n %}

{% block title %} Дизайнерская бижутерия ручной работы | | {{ request.app_name }} {% endblock %}

{% block meta_description  %}Оригинальные украшения и бижутерия ручной работы. Кулоны, броши, серьги, кольца и сувениры, выполненные из меди методом гальванопластики.{% endblock %}

{% block meta_keywords %}бижутерия, оргинальные украшения, ювелирные изделия, ручная работа, ремесленные изделия, кулоны, подвески, серьги, сувениры, кольца, броши, гальваника, гальванопластика, изделия из металла, изделия из меди{% endblock %}

{% block meta_robots %}index, follow{% endblock %}

{% block og_title %}Дизайнерская бижутерия ручной работы{% endblock %}

{% block og_description %}Оригинальные украшения и бижутерия ручной работы. Кулоны, броши, серьги, кольца и сувениры, выполненные из меди методом гальванопластики.{% endblock %}


{% block content %}
<div class="p-4 p-md-5 mb-1 text-white rounded main-image">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic main-header">
            <strong>Дизайнерская бижутерия ручной работы</strong>
        </h1>
        <p class="lead my-3 d-none d-md-block">
            <strong>
            Здесь вы можете найти оригинальные кулоны, серьги, броши, кольца и другие украшения, созданные методом гальванопластики при помощи магии
            электричества и химии.
            Вы можете заказать любое понравившееся Вам изделие, представленное на сайте.
            </strong>
        </p>
    </div>
</div>

<div class="row mb-2">
    {% for quick_reference in quick_references %}
        {% include "common/main/quick-reference.html" with quick_reference=quick_reference %}
    {% endfor %}
</div>

<div class="row">
    <div class="col-12">
        <p class="bg-light rounded p-4 mb-3 h1 fst-italic border-bottom">
            Последние новости:
        </p>
    </div>
    <div class="col-md-8">
        {% include "common/main/load-more-posts.html" with posts=posts %}
    </div>

    <div class="col-md-4">
        <div class="p-4 mb-3 bg-light rounded">
            <p class="h3 fst-italic">О нас:</p>
            <h3 class="fw-normal mb-2">
                Ремесленная мастерская <strong>{{ request.app_name }}</strong> - это онлайн-каталог оригинальной бижутерии и сувениров ручной работы.
            </h3>
            <h3 class="fw-normal mb-2">
                Здесь вы найдете уникальные и неповторимые украшения из меди, такие как броши, кольца, браслеты, кулоны и подвески.
            </h3>
        </div>
    </div>

</div>
{% endblock %}